body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 5px;
  margin-top: 50px;
}

/*  */
.header {
  display: flex;
  top: 0;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li a {
  padding: 0.5rem 1rem;
}

.header ul li a:hover {
  cursor: pointer;
  background-color: #ccc;
}

.poster {
  position: relative;
}

.poster img {
  width: 100%;
}

.poster h1 {
  position: absolute;
  bottom: 10px;
  left: 3.5rem;
}

/* about css */

.about {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;
  margin: 4rem; 
  padding: 4rem;
  border-bottom: 1px solid #ccc;
}

.about img {
  width: 100%;
}

.about-des h1 {
  text-align: center;
}

.about-des h5 {
  text-align: center;
  font-size: 18px;
}

.about-des p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* menu */
.menu {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4rem;
  gap: 3rem;
  padding: 4rem;
  border-bottom: 1px solid #ccc;
}

.menu img {
  width: 100%;
}

.menu h1 {
  padding-bottom: 2rem;
  text-align: center;
}

.menu h4 {
  font-size: 20px;
  font-weight: 400;
}

.menu p {
  letter-spacing: 0px;
  font-size: 15px;
  padding-bottom: 20px;
}

.container{
  margin: 4rem;
  padding: 4rem;
  border-bottom: 1px solid #ccc;
}

.container p{
  letter-spacing: 0px;
  font-size: 15px;
  padding-bottom: 20px;
}

.catering_test{
  color: #607d8b;
}

.container input{
width: 100%;
padding:1.5rem 0.5rem;
border-bottom: 1px solid #ccc;
margin-bottom: 1rem;
border-top: none;
border-left: none;
border-right: none;
}

.container button{
  padding:12px;
  background-color: #f1f1f1;
  border: none;
  margin-right: 2rem;
}